#Receptor Germline Gene Definitions#

Data Items required to document receptor germline genes, including the information from which it was inferred, and its delineation according to defferent numbering schemes.

##Germline Set##

The germline genes observed in a particular species or type

| Name | Type | Description |
| --- | --- | --- |
{%- for field in Germline_Set.properties %}
| `{{ field }}` | {{ Germline_Set.properties[field].type }} | {{  Germline_Set.properties[field].description }} |
{%- endfor %}

##Germline Description##

The description of a single gene.

| Name | Type | Description |
| --- | --- | --- |
{%- for field in Gene_Description.properties %}
| `{{ field }}` | {{ Gene_Description.properties[field].type }} | {{  Gene_Description.properties[field].description }} |
{%- endfor %}

###Germline Delineation###

The delineation of fields, and the numbering of codons, according to a particular scheme

###V-gene Delineation###

| Name | Type | Description |
| --- | --- | --- |
{%- for field in Gene_Delineation_V.properties %}
| `{{ field }}` | {{ Gene_Delineation_V.properties[field].type }} | {{  Gene_Delineation_V.properties[field].description }} |
{%- endfor %}

###D-gene Delineation###

| Name | Type | Description |
| --- | --- | --- |
{%- for field in Gene_Delineation_D.properties %}
| `{{ field }}` | {{ Gene_Delineation_D.properties[field].type }} | {{  Gene_Delineation_D.properties[field].description }} |
{%- endfor %}

###J-gene Delineation###

| Name | Type | Description |
| --- | --- | --- |
{%- for field in Gene_Delineation_J.properties %}
| `{{ field }}` | {{ Gene_Delineation_J.properties[field].type }} | {{  Gene_Delineation_J.properties[field].description }} |
{%- endfor %}


##Supporting Sequences##

Sequences, either observed in repertoires or genomic in origin, leading to the inference of a gene.


###Observed Sequence###

| Name | Type | Description |
| --- | --- | --- |
{%- for field in Observed_Sequence.properties %}
| `{{ field }}` | {{ Observed_Sequence.properties[field].type }} | {{  Observed_Sequence.properties[field].description }} |
{%- endfor %}

###Genomic Sequence###

| Name | Type | Description |
| --- | --- | --- |
{%- for field in Genomic_Sequence.properties %}
| `{{ field }}` | {{ Genomic_Sequence.properties[field].type }} | {{  Genomic_Sequence.properties[field].description }} |
{%- endfor %}


